[Unit]
Description=A simple http service
# Dependencies
After=network.target friendly.socket
Requires=friendly.socket

[Service]
Type=simple
WorkingDirectory=%h
ExecStart=/usr/bin/python3 %h/Intro_to_Unix_practice/simple_http_service_on_daemon/http_service.py
Sockets=friendly.socket
Restart=on-failure

[Install]
WantedBy=default.target
